* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif, "Roboto Serif";
}
body {
  margin: 0;
  position: relative;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
  /* overflow: hidden; */
}
main {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
body > img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1778.77px;
  overflow: hidden;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #120b59;
  line-height: 58.56px;
  font-family: "Roboto Serif";
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 16px 0px;
  background: rgba(217, 235, 242, 0.5);
  box-shadow: 0px 0px 6.3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  width: 80%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar a {
  float: left;
  display: block;
  color: #1e2223;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
#couresMobileBtn,
#loginMobileBtn {
  display: none;
}
.navbar .icon {
  display: none;
}
.btn {
  background: rgba(18, 11, 89, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -7rem;
  background: linear-gradient(
    180.52deg,
    rgba(82, 128, 176, 0.09) -34.03%,
    #120b59 101.92%
  );
  opacity: 0;
  animation: showContent1 0.5s 0.1s ease-in-out 1 forwards;
}

.form.show {
  /* display: flex; */
  /* flex-direction: column; */
}

.error-message {
  margin-top: 4px;
  color: red;
  text-align: start;
  font-size: 16px;
}
.form-sub {
  margin: 10rem 0;
  width: 80%;
  pointer-events: auto;
}

@keyframes showContent1 {
  from {
    transform: translateY(250px); /* Move 50px downward at the start */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Move back to original position */
    opacity: 1;
  }
}

.form-container {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: auto;
  text-align: center;
  margin-top: 24px;
}
.form-container h4 {
  color: white;
  font-size: 45px;
  line-height: 52.71px;
  font-weight: 700;
  font-family: "Roboto Serif";
}
.form-container p {
  font-weight: 300;
  font-size: 30px;
  line-height: 40.93px;
  color: white;
}
.form-container form {
  display: flex;
  flex-direction: column;
  background: rgba(217, 235, 242, 0.25);
  padding: 64px;
  border-radius: 8px;
  margin: 64px 0px;
}

form input {
  padding: 16px;
  background: #efefef;
  margin-top: 40px;
  outline: none;
  border: none;
}
form input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.82px;
  color: #120b593d;
}
.form button {
  width: 60%;
  margin: 20px auto;
  border: none;
  outline: none;
}
span,
span a {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.29px;
}
a {
  text-decoration: none;
}

.contact-main,
.footer-main {
  width: 80%;
  margin-top: 133px;
}
.contact {
  display: flex;
  justify-content: center;
  background: linear-gradient(357.18deg, #ffffff 44.92%, #7ebfe3 171.47%);
}
.contact-main {
  margin-bottom: 4.75rem;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.75rem 0rem;
}
.contact-icons {
  width: 19.96px;
  height: 24px;
}
.address-heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
.map > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  max-height: 509px;
}
.footer {
  background: #0e0b34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-details {
  /* width: 80%;
  margin: 0px auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-links {
  width: fit-content;
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
}
.footer-links button {
  border: none;
}
.footer-logo {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}
.copyright-container {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 19.1px;
}
.policy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.copyright {
  margin-top: 23px;
}

@media screen and (max-width: 1280px) {
  .navbar {
    width: 90%;
  }
  .nav-items {
    width: 100%;
  }
}

@media screen and (max-width: 839px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav-items button {
    display: none;
    pointer-events: none;
  }
  .nav-links {
    position: fixed;
    top: 6rem;
    left: 0;
    background: rgba(217, 235, 242, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateX(-100%);
    opacity: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    transition: 1s;
  }
  .nav-links a {
    background: #120b59;
    border-radius: 8px;
    padding: 10px 16px;
    color: white;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar i {
    display: block;
    font-size: 32px;
    color: #120b59;
  }
  #loginMobileBtn,
  #couresMobileBtn {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav-links {
    padding: 1rem;
  }
  header {
    width: 100%;
    /* justify-content: space-between; */
  }
  h2 {
    display: none;
  }
  .form,
  .contact-main {
    padding: 1rem;
  }
  .form-sub,
  .contact {
    width: 100%;
    flex-direction: column;
    /* justify-content: start; */
  }
  .form-container form {
    padding: 1rem;
  }
  .contact-main,
  .address {
    margin-top: 1rem;
    width: 100%;
  }
  .address {
    flex-direction: column;
    gap: 8px;
  }
  .footer-details {
    gap: 40px;
    justify-content: start;
  }
  .copyright-container {
    width: 90%;
  }
}
