* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif, "Roboto Serif";
}
body {
  margin: 0;
  position: relative;

  /* overflow: hidden; */
}
main {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
body > img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1778.77px;
  overflow: hidden;
}
h2 {
  font-size: 49px;
  font-weight: 700;
  color: #120b59;
  line-height: 58.56px;
  font-family: "Roboto Serif";
}
p {
  font-size: 30px;
  line-height: 40.93px;
  color: rgba(18, 11, 89, 1);
  font-weight: 400;
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 16px 0px;
  background: rgba(217, 235, 242, 0.5);
  box-shadow: 0px 0px 6.3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  width: 90%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
#couresMobileBtn,
#loginMobileBtn {
  display: none;
}
.navbar .icon {
  display: none;
}
.btn {
  background: rgba(18, 11, 89, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.myAccount {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
.myAccount_sub,
.explore-more_sub {
  margin: 5rem 0;
  width: 80%;
}
.button_container {
  display: flex;
  flex-direction: column;
  margin: 4.5rem 0;
  width: 100%;
  gap: 50px;
}
.button_container a {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.74px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
.tutorial-container {
  margin-top: 3rem;
}
.tutorial-container img {
  /* max-width: 1024px; */
  width: 100%;
  margin: 0px auto;
}
.explore-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: #7ebfe3; */
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
.explore-more_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff1a;
  padding: 22px;
  max-width: 317px;
}
.explore-more_card p {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.66px;
}
.value {
  color: white;
  font-weight: 700;
  line-height: 87.32px;
  font-size: 64px;
}
.card_container {
  display: flex;
  gap: 20px;
  width: 100%;
  /* justify-content: center; */
}
.explore-more_btn_container button {
  width: 100%;
}
.more_course_btn {
  background-color: white;
  color: #120b59;
  font-weight: 800;
  line-height: 32.82px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-bottom: 2rem;
}
.training-course-main,
.contact-main,
.footer-main {
  width: 80%;
  margin-top: 133px;
}
.contact {
  display: flex;
  justify-content: center;
  background: white;
  /* background: linear-gradient(357.18deg, #ffffff 44.92%, #7ebfe3 171.47%); */
}
.contact-main {
  margin-bottom: 4.75rem;
}
.contact-main h2 {
  text-align: center;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.75rem 0rem;
}
.contact-icons {
  width: 19.96px;
  height: 24px;
}
.address-heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
.map > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  max-height: 509px;
}
.footer {
  background: #0e0b34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-details {
  /* width: 80%;
  margin: 0px auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-links {
  width: fit-content;
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
}
.footer-links button {
  border: none;
}
.footer-logo {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}
.copyright-container {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 19.1px;
}
.policy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.copyright {
  margin-top: 23px;
}
@media screen and (max-width: 1280px) {
  .nav-links {
    width: 48%;
  }
}
@media screen and (max-width: 1024px) {
  .nav-items {
    width: 100%;
  }
  .explore-more_card {
    max-width: 100%;
  }
  .card_container {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

@media screen and (max-width: 839px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav-items button {
    display: none;
    pointer-events: none;
  }
  .nav-links {
    position: fixed;
    top: 6rem;
    left: 0;
    background: rgba(217, 235, 242, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateX(-100%);
    opacity: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    transition: 1s;
  }
  .nav-links a {
    background: #120b59;
    border-radius: 8px;
    padding: 10px 16px;
    color: white;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar i {
    display: block;
    font-size: 32px;
    color: #120b59;
  }
  #loginMobileBtn,
  #couresMobileBtn {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    /* padding: 1rem; */
    /* justify-content: space-between; */
  }
  .nav-links {
    padding: 1rem;
  }
  p {
    font-size: 24px;
    line-height: 28px;
  }
  .welcome {
    display: block;
    /* flex-direction: column; */
    /* justify-content: start; */
    padding: 1rem;
    width: 100%;
  }
  .welcome_sub {
    margin-top: 2rem;
    width: 100%;
  }
  .card_container {
    flex-direction: column;
  }
  .explore-more_card {
    max-width: 100%;
  }
  .tutorial-container {
    width: 90%;
    margin: 2rem auto;
  }
  .tutorial-container img {
    max-width: 1024px;
    width: 100%;
  }
  .form,
  .contact-main {
    padding: 1rem;
  }
  .form-sub,
  .contact {
    width: 100%;
    flex-direction: column;
    /* justify-content: start; */
  }
  .form-container form {
    padding: 1rem;
  }
  .contact-main,
  .address {
    margin-top: 1rem;
    width: 100%;
  }
  .address {
    flex-direction: column;
    gap: 8px;
  }
  .footer-details {
    gap: 40px;
    justify-content: start;
  }
  .copyright-container {
    width: 90%;
  }
}
