* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif, "Roboto Serif";
}
body {
  margin: 0;
  position: relative;

  /* overflow: hidden; */
}
main {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
body > img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1778.77px;
  overflow: hidden;
}
h2 {
  font-size: 49px;
  font-weight: 700;
  color: #120b59;
  line-height: 58.56px;
  font-family: "Roboto Serif";
}
p {
  font-size: 30px;
  line-height: 40.93px;
  color: rgba(18, 11, 89, 1);
  font-weight: 400;
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 16px 0px;
  background: rgba(217, 235, 242, 0.5);
  box-shadow: 0px 0px 6.3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  width: 90%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
#couresMobileBtn,
#loginMobileBtn {
  display: none;
}
.navbar .icon {
  display: none;
}
.btn {
  background: rgba(18, 11, 89, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.myLearning {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
.myLearning_sub {
  width: 90%;
  margin: 5rem 0rem;
}
.heading {
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-family: "Roboto Serif";
}

.course-containe {
  display: flex;
  gap: 20px;
  width: 100%;
  /* justify-content: center; */
}
.course-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 2rem;
}
.card {
  background: #ffffff;
  padding: 34.47px 71.36px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 6.3px 0px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  text-align: center;
  transition: 0.6s;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-12px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h5 {
  font-size: 32.08px;
  line-height: 43.77px;
  font-weight: 800;
  color: #1e2223;
}

.status-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  gap: 20px;
}
.status-btn {
  padding: 13.37px;
  border-radius: 6.08px;
  border: 1.34px solid rgba(56, 152, 168, 1);
  font-size: 21.39px;
  font-weight: 600;
  line-height: 29.18px;
  color: #1e2223;
}
.completed,
.in-progress {
  background: #3898a8;
  color: white;
}
.download {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.download p {
  font-size: 13.37px;
  color: #3834f5;
  font-weight: 900;
  line-height: 18.24px;
  cursor: pointer;
}
.download .icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #3834f5;
  cursor: pointer;
}
.contact-main,
.footer-main {
  width: 80%;
  margin-top: 133px;
}
.contact {
  display: flex;
  justify-content: center;
  background: white;
}
.contact-main {
  margin-bottom: 4.75rem;
}
.contact-main h2 {
  text-align: center;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.75rem 0rem;
}
.contact-icons {
  width: 19.96px;
  height: 24px;
}
.address-heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
.map > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  max-height: 509px;
}
.footer {
  background: #0e0b34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-links {
  width: fit-content;
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
}
.footer-links button {
  border: none;
}
.footer-logo {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}
.copyright-container {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 19.1px;
}
.policy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.copyright {
  margin-top: 23px;
}
@media screen and (max-width: 1280px) {
  .nav-links {
    width: 48%;
  }
}
@media screen and (max-width: 1024px) {
  .nav-items {
    width: 100%;
  }
  .card{
    padding: 32px 12px;
  }

@media screen and (max-width: 839px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav-items button {
    display: none;
    pointer-events: none;
  }
  .nav-links {
    position: fixed;
    top: 6rem;
    left: 0;
    background: rgba(217, 235, 242, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateX(-100%);
    opacity: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    transition: 1s;
  }
  .nav-links a {
    background: #120b59;
    border-radius: 8px;
    padding: 10px 16px;
    color: white;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar i {
    display: block;
    font-size: 32px;
    color: #120b59;
  }
  #loginMobileBtn,
  #couresMobileBtn {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  .nav-links {
    padding: 1rem;
  }
  p {
    font-size: 24px;
    line-height: 28px;
  }
  .welcome {
    display: block;
    padding: 1rem;
    width: 100%;
  }
  .welcome_sub {
    margin-top: 2rem;
    width: 100%;
  }
  .course-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  .card {
    padding: 10px;
  }
  .status-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .explore-more_card {
    max-width: 100%;
  }
  .tutorial-container {
    width: 90%;
    margin: 2rem auto;
  }
  .contact-main {
    padding: 1rem;
  }
  .contact {
    width: 100%;
    flex-direction: column;
  }
  .contact-main,
  .address {
    margin-top: 1rem;
    width: 100%;
  }
  .address {
    flex-direction: column;
    gap: 8px;
  }
  .footer-details {
    gap: 40px;
    justify-content: start;
  }
  .copyright-container {
    width: 90%;
  }
}
