* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  position: relative;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
}
main {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: #ffffff;
  margin-bottom: 1rem;
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 16px 0px;
  background: rgba(217, 235, 242, 0.5);
  box-shadow: 0px 0px 6.3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.navbar {
  width: 80%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar a {
  float: left;
  display: block;
  color: #1e2223;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.navbar .icon {
  display: none;
}
.btn {
  background: rgba(18, 11, 89, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: none;
}
h2 {
  text-align: start;
  font-size: 45px;
  font-weight: 700;
  color: #120b59;
  line-height: 52.71px;
  margin: 2rem 0rem;
}
h4 {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  color: #120b59;
  line-height: 40.93px;
  margin: 2rem 0rem;
}
p {
  font-size: 20px;
  line-height: 27.29px;
  color: #1e2223;
}

h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32.74px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -7rem;
  margin-bottom: 7rem;
}
.main-container-sub {
  margin-top: 10rem;
  width: 80%;
  pointer-events: auto;
  border-radius: 20px;
  text-align: center;
}
.courses-container {
  background: #92cbeb;
  border-radius: 6px;
  padding: 42px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14.63px;
}
.course-card {
  background: #ffffff;
  border-radius: 7.32px;
  margin-top: 1rem;
  box-shadow: 0px 0.92px 5.78px 0px rgba(0, 0, 0, 0.1);
}

.tutorial-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7.32px;
  border-top-right-radius: 7.32px;
}
article {
  padding: 33.1px 18px 10px 18px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

article h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.29px;
  color: #1e2223;
}
article p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  margin: 1rem 0rem;
}
.take-assessment a {
  font-size: 24px;
  line-height: 32.72px;
  color: #120b59;
  font-weight: 900;
}
.recommended-course-container,
.others-course-container {
  margin-top: 4rem;
}
.recommended-courses-sub,
.others-courses-sub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14.63px;
}
.continue_btn {
  background-color: transparent;
  border: 2px solid #3898a8;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21.83px;
  font-weight: 600;
  color: #1e2223;
}

.contact-main,
.footer-main {
  width: 80%;
  margin-top: 133px;
}
.contact {
  display: flex;
  justify-content: center;
  background: linear-gradient(357.18deg, #ffffff 44.92%, #7ebfe3 171.47%);
}
.contact-main {
  margin-bottom: 4.75rem;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.75rem 0rem;
}
.contact-icons {
  width: 19.96px;
  height: 24px;
}
.address-heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
.map > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  max-height: 509px;
}
.footer {
  background: #0e0b34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-links {
  width: fit-content;
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
}
.footer-links button {
  border: none;
}
.footer-logo {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}
.copyright-container {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 19.1px;
}
.policy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.copyright {
  margin-top: 23px;
}
@media screen and (max-width: 1280px) {
  .navbar {
    width: 90%;
  }
  .nav-items {
    width: 100%;
  }
  .courses-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    /* padding: 14px; */
  }
  .recommended-courses-sub,
  .others-courses-sub {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 839px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav-links,
  .nav-items button {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar i {
    display: block;
    font-size: 32px;
    color: #120b59;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
    line-height: 50.56px;
  }
  .footer-main {
    width: 90%;
  }
  form {
    padding: 2rem;
    border-radius: 10px;
  }
  .form,
  .contact-main {
    padding: 1rem;
  }
  .main-container-sub {
    width: 100%;
    padding: 1rem;
  }
  .cleaning-service-sub {
    flex-direction: column;
  }
  .cleaning-service-left,
  .cleaning-service-right {
    width: 100%;
  }
  .cleaning-service-left-inner h4,
  .cleaning-service-right-inner h4 {
    font-size: 16px;
  }

  .other_service_heading {
    font-size: 32px;
    width: 90%;
    padding: 8px;
  }
  .courses-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 14px;
  }
  .recommended-courses-sub,
  .others-courses-sub {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .contact {
    width: 100%;
    flex-direction: column;
  }
  .form-container form {
    padding: 1rem;
  }
  .contact-main {
    margin-top: 5rem;
    width: 100%;
  }
  .address {
    margin-top: 1rem;
    width: 100%;
  }
  .address {
    flex-direction: column;
    gap: 8px;
  }
  .footer-details {
    gap: 40px;
    justify-content: start;
  }

  .copyright-container {
    width: 90%;
  }
}
